* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Cinzel', serif;
	background-color: #141414;
	color: white;
}

.main-body {
	background-color: #141414;
	background-image: url('../imgs/blooddrop1.png'), url('../imgs/blooddrop1.png'), url('../imgs/blooddrop1.png');
	background-size: auto;
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 0 top, 600px top, 1200px top;
	color: white;
}

.navbar {
	background-image: url('../imgs/blooddrop1.png');
	background-size: auto;
	background-color: #141414;
	border: none;
	font-weight: 700;
	font-size: 1.8rem;
}

.navbar-brand {
	color: white;
	font-size: 3rem;
}
.navbar-brand:hover {
	color: white;
	font-size: 3rem;
}

.nav-home {
	color: white;
}
.nav-home:hover {
	color: white;
	text-decoration: none;
	background-color: transparent !important;
}

.login-box {
	padding-top: 8rem;
}

.table {
	h1 {
		font-weight: bold;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
	}

	a {
		color: red;
	}
}

.into1 {
	height: 100%;

	h1 {
		font-weight: bold;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, .7);
	}
}

.log-link {
	color: red;
}

.salutation {
	font-weight: bold;
	padding: 2rem;
}

.presentation {
	padding: 10rem;
	text-align: center;

	h1 {
		font-weight: bold;
	}
}
