<table class="table">
    <tr>
        <td width="50px">
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                
            </a>    
        </td>
        <td>
            {% set user_link %}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
            {% endset %}
            
            {{ _('%(username)s added a new Candy %(when)s',               
                username=user_link, when=moment(post.timestamp).fromNow()) }}:
            <br>
            Name: <span id="post{{ post.id }}"></span>{{ post.name }}</span>
            <br>
            <span id="post{{ post.id }}"></span>{{ post.body }}</span>
            {% if post.language and post.language != g.locale %}
            <br><br>
            <span id="translation{{ post.id }}">
                <a href="javascript:translate(
                    '#post{{ post.id }}',
                    '#translation{{ post.id }}',
                    '{{ post.language }}',
                    '{{ g.locale }}');">{{ _('Translate') }}</a>
            </span>
            {% endif %}
        </td>
    </tr>
</table>