{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
        <br>
        <br>
        <div class="presentation">
                <h1>{{ _('Hello, %(username)s!', username=current_user.username) }}</h1>
                        {% if form %}
                        {{ wtf.quick_form(form) }}
                        <br>
                        {% endif %}
                <h2>Welcome to Candy Love, a safe place for you to list the candy you love the most in the world and share it with your friends.</h2>
                <h2>Let's get sugary!</h2>
        </div>
{% endblock %}
